dd[class~="attachment-onlyoffice-button"] {
    padding-left: 0px;
    text-align: center;
    width: 50px;
}

div[class~="attachment-onlyoffice-button"] {
    left: auto;
    position: absolute;
    padding: 0;
    right: 0;
    width: 20px;
}

.attachment-content:hover .attachment-onlyoffice-button a,
.attachment-content .attachment-oo-edit a:focus {
    width: auto;
    height: auto;
    clip: auto;
}

.attachment-content .attachment-onlyoffice-button a {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#attachment_thumbnails .attachment-content:hover .blender-onlyoffice1 {
    background-image:linear-gradient(to right, rgba(255,255,255,0) 0, #f4f5f7 50%)!important;
    width: 6em!important;
}

#attachment_thumbnails .attachment-content:hover .blender-onlyoffice2 {
    background-image:linear-gradient(to right, rgba(255,255,255,0) 0, #f4f5f7 50%)!important;
    width: 9em!important;
}

.icon-onlyoffice-edit {
    background-image: url("edit_icon.svg");
}

.icon-onlyoffice-conversion {
    background-image: url("conversion_icon.svg");
}

#onlyoffice-conversion-dialog .jira-dialog-content{
    margin-bottom: 50px;
}

#onlyoffice-conversion-dialog form{
    overflow: auto;
    position: static;
}

#onlyoffice-conversion-dialog .form-footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#onlyoffice-create-file-button span {
    background-image: url("сreate_icon.svg");
    padding-left: 24px;
    --aui-icon-size: 16px;
    background-repeat: no-repeat;
    background-position: left;
    height: var(--aui-icon-size);
    vertical-align: text-bottom;
}