dd[class~="attachment-oo-edit"], dd[class~="attachment-oo-downloadAs"] {
    padding-left: 0px;
    text-align: center;
    width: 50px;
}

div[class~="attachment-oo-edit"], div[class~="attachment-oo-downloadAs"] {
    left: auto;
    position: absolute;
    padding: 0;
    right: 0;
    width: 20px;
}
div[class~="attachment-oo-downloadAs"] {
    width: 40px;
}

.margin-delete{
    margin-right: 20px!important;
}

.attachment-content:hover .attachment-oo-edit a,
.attachment-content .attachment-oo-edit a:focus,
.attachment-content:hover .attachment-oo-downloadAs div,
.attachment-content .attachment-oo-downloadAs div:focus {
    width: auto;
    height: auto;
    clip: auto;
}

.attachment-content .attachment-oo-edit a,
.attachment-content .attachment-oo-downloadAs div {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.attachment-content .attachment-oo-edit a span {
    background-size: contain;
    background-image: url("edit_icon.svg");
}

#attachment_thumbnails .attachment-content:hover .blender-edit, 
#attachment_thumbnails .attachment-content:hover .blender-downloadAs {
    background-image:linear-gradient(to right, rgba(255,255,255,0) 0, #f4f5f7 50%)!important;
    width: 6em!important;
}

.attachment-content .attachment-oo-downloadAs div span {
    background-size: contain;
    background-image: url("download_as.svg");
}

#onlyoffice-form-conversion-filename-error,
#onlyoffice-form-conversion-fileExt-error {
    display: none;
}

.aui-test-spinner-container {
    width: 120px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    border: 1px solid grey;
    z-index: 3000;
}